<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socket.IO chat</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        form {
            background: #000;
            padding: 3px;
            position: fixed;
            width: 550px;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 480px;
            margin-right: .5%;
        }

        form button {
            width: 60px;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }

        #messages {
            list-style-type: none;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }

        .main {
            width: 550px;
            height: 550px;
            margin: auto;
            margin-top: 5%;
            border: 2px #eee solid;
            border-radius: 10px;
            box-shadow: 3px 5px 9px #ccc;
            background-color: rgba(255, 255, 255, 1);
        }

        .send {
            margin-top: 100%;
            position: relative;
        }
    </style>
</head>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $(function () {
        var socket = io();
        $('form').submit(function (e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg));
        });
    });
</script>

<body>
    <!-- <ul>
        <% items.forEach(function(item) { %>
        <li>
            <%= item %>
        </li>
        <% }); %>
    </ul> -->
    <div class="container">
        <div class="main">
            <div class="send">
                <ul id="messages"></ul>
                <form action="">
                    <input id="m" autocomplete="off" /><button>Send</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>