<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Room</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="../static/js/chat.js"></script>

<body>
    <!-- <ul>
        <% items.forEach(function(item) { %>
        <li>
            <%= item %>
        </li>
        <% }); %>
    </ul> -->
    <div class="container">
        <div class="main">
            <div class="header">
                <img src="../static/image/Dmupb6BUwAAOsoD.jpg">
                Chat Room
            </div>
            <div class="room">
                <ul id="messages">
                    <p>Welcome to the chat!</p>
                </ul>
            </div>
            <form action="">
                <input id="m" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </div>
</body>

</html>