* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body { 
    font: 25px "Microsoft JhengHei", Helvetica, Arial;
}

.main {
    width: 500px;
    height: 500px;
    margin: 10vh auto; 
    border: 8px #eee solid;
    border-radius: 10px;  
    /* box-shadow: 3px 3px #ccc; */
    background-color: rgba(255, 255, 255, 1);
}

.header {
    height: 70px;
    border-bottom: 2px solid #eee;
    font-size: 23px;
    padding-left: 10px;
    padding-top: 10px;
    color: #555;
}
.header img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    vertical-align: middle;
}

.room{
    height: 360px;
    display: flex;
    word-wrap: break-word;
}

#messages {
    height: 360px;
    width: 500px;
    overflow-y: auto;
} 

form {
    width: 100%; 
    height: 50px;
    border-top: 1px #ddd solid;
    position: relative;
}
form input { 
    border: 0; 
    width: 442px;
    line-height: 50px;
    margin-right: .5%;
}

form button { 
    height: 50px;
    border: 1px solid #FFFFFF;
    /* border-radius: 50px; */
    background-color: #FFFFFF;
    color: #555;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

/* button:hover {
    background: #555;
} */

p {
    color: #4CAF50;
}

#userPhoto{
    width: 20px;
    height: 20px;
    border-radius: 25px;
}

#messages li span {
    color: #555;
}

#messages li div > p {
    padding-left: 20px;
}