* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    font: 25px "Microsoft JhengHei", Helvetica, Arial;
}

#gugu2525 {
    display: none;
    z-index: 1;
    position: absolute;
    right: 60px;
    width: calc(50px * 1);
    height: 114px;
    background-color: #000000;
    border: 1px solid #6441a4;
    overflow-y: scroll;
    scrollbar-color: #808080 #000000;
    scrollbar-width: thin;
    transition: width 2s;
}

#gugu2525:hover {
    width: calc(50px * 6);
}

#gugu2525 img {
    width: 50px;
    cursor: pointer;
}

#jinny {
    display: none;
    z-index: 1;
    position: absolute;
    right: 60px;
    width: calc(50px * 1);
    height: 114px;
    background-color: #000000;
    border: 1px solid #6441a4;
    overflow-y: scroll;
    scrollbar-color: #808080 #000000;
    scrollbar-width: thin;
    transition: width 2s;
}

#jinny:hover {
    width: calc(50px * 6);
}

#jinny img {
    width: 50px;
    cursor: pointer;
}

#main {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    /* -webkit-align-content: center;
    align-content: center; */
    /*換行讓input form 移動到下面*/
    flex-flow: wrap;
}

#main #conversation {
    width: calc(100% - 50px);
    height: 93%;
    overflow-y: scroll;
    scrollbar-color: #808080 #000000;
    scrollbar-width: thin;
    background-color: #000000;
    background-size: cover;
}

#main #conversation .left {
    width: 50%;
    word-wrap: break-word;
    padding-left: 10px;
    color: #ffffff;
}

#main #conversation .right {
    margin-left: 50%;
    width: 50%;
    word-wrap: break-word;
    text-align: right;
    padding-right: 10px;
    color: #ffffff;
}

#main #emoticons {
    width: 50px;
    height: 93%;
    overflow-y: scroll;
    scrollbar-color: #808080 #000000;
    scrollbar-width: thin;
    background-color: #000000;
}

#main #emoticons img {
    width: 100%;
    cursor: pointer;
}

#main #emoticons button {
    width: 100%;
    height: 30px;
    border: 1px solid #6441a4;
    cursor: pointer;
    background-color: #6441a4;
    color: #ffffff;
}

#main #emoticons button:hover {
    background: #7d5bbe;
    border-color: #7d5bbe;
    color: #ffffff;
}

#main #form {
    width: 100%;
    height: 7%;
}

#form form {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap;
}

#form form #m {
    border: 1px solid #6441a4;
    font-size: 50px;
    width: calc(100% - 50px);
    height: 100%;
    background-color: #000000;
    color: #ffffff;
}

#form form button {
    width: 50px;
    height: 100%;
    border: 1px solid #6441a4;
    cursor: pointer;
    background-color: #6441a4;
    color: #ffffff;
}

#form form button:hover {
    background: #7d5bbe;
    border-color: #7d5bbe;
    color: #ffffff;
    /*7d5bbe*/
}

.name {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(238, 238, 238, 0.8);
    text-align: center;
    padding-top: 35vh;
}

.name input {
    width: 400px;
    border: none;
    border-bottom: 2px solid #bbb;
    background-color: transparent;
    font-size: 25px;
    color: #555;
    text-align: center;
}

.name button {
    display: block;
    width: 150px;
    height: 35px;
    margin: 0 auto;
    border: none;
    background-color: #805b6b;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}

#userPhoto {
    width: 20px;
    height: 20px;
}